@media (max-width: 768px) {
  /* Hamburger menu styles */
}


@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
.calistoga-regular {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}
body{
  display: flex;
  flex-direction: column;
  padding: .3em;
  margin: .5em;
  justify-content: center;
  text-align: center;
  background-color: teal;
  font-size: 1em;
  gap: 1em;
}
.intro{
  display: flex;
  flex-direction: column;
  background-color: silver;
  border: .3em inset black;
  padding: .5em;
}
.about{
  font-size: 1em;
  text-align: left;
}
.links{
   display: flex;
  flex-direction: row;
  background-color: silver;
  border: .3em inset black;
  padding: .5em;
  justify-content: space-evenly;
}
.links a{
  background-color: silver;
  border: black .3em inset;
  color: red;
  padding: .5em;
}
.resources{
  border: black inset .3em;
  background-color: silver;
}
.resourceslinks a{
  background-color: silver;
  border: black .3em inset;
  color: red;
  padding: .2em;
  display: flex;
  flex-direction: column;
  margin: .5em;

}